php_value date.timezone Europe/Moscow

php_flag display_startup_errors 0
php_flag display_errors 999999
php_flag html_errors 0
php_flag log_errors on
php_flag ignore_repeated_errors off
php_flag ignore_repeated_source off
php_flag report_memleaks on
php_flag track_errors on
php_value docref_root 0
php_value docref_ext 0
php_value error_reporting 6135
